* @beaugunderson

a\ path\ with\ spaces/and\ subdirectories/ @jasonsperske

[Test Default Section] @jasonsperske
README.md

[Another Section]
package.json @example

[Still Another Section][2] @example-section-owner
/index.mjs

[Test Inline Comments] @example-inline-comment-owner # section comment
package-lock.json # inline comment
